.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container {
  width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results > div {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: rgb(242, 242, 242);
  padding: 30px;
  border-radius: 5px;
}

.results > div > span:not(:last-child) {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 300px;
  border: 1px solid lightgray;
  outline: none;
  height: 45px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(252, 249, 249);
  padding-left: 10px;
  margin: 5px 0 4px 0;
}
